.wp-admin-page {
  background: #f0f0f1;
  min-height: 100vh;
  padding: 20px;
}

.wrap {
  max-width: 1200px;
  margin: 0 auto;
}

.wp-heading-inline {
  font-size: 23px;
  font-weight: 400;
  margin: 0;
  padding: 9px 0 4px;
  line-height: 1.3;
  color: #1d2327;
  display: inline-block;
}

.page-title-action {
  display: inline-block;
  margin-left: 4px;
  padding: 3px 10px;
  font-size: 13px;
  line-height: 2.15384615;
  text-decoration: none;
  border: 1px solid #2271b1;
  border-radius: 3px;
  background: #2271b1;
  color: #fff;
  cursor: pointer;
  vertical-align: top;

  &:hover {
    background: #135e96;
    border-color: #135e96;
  }
}

.description {
  margin: 10px 0;
  color: #646970;
  font-size: 13px;
}

