/* WordPress-like Posts Management Styles */

.wp-admin-posts {
  background: #f0f0f1;
  min-height: 100vh;
  padding: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.wrap {
  max-width: 1200px;
  margin: 0 auto;
}

.wp-heading-inline {
  font-size: 23px;
  font-weight: 400;
  margin: 0;
  padding: 9px 0 4px;
  line-height: 1.3;
  color: #1d2327;
  display: inline-block;
}

.page-title-action {
  display: inline-block;
  margin-left: 4px;
  padding: 3px 10px;
  font-size: 13px;
  line-height: 2.15384615;
  text-decoration: none;
  border: 1px solid #2271b1;
  border-radius: 3px;
  background: #2271b1;
  color: #fff;
  cursor: pointer;
  vertical-align: top;

  &:hover {
    background: #135e96;
    border-color: #135e96;
  }
}

/* Filter Tabs */
.subsubsub {
  list-style: none;
  margin: 13px 0 0;
  padding: 0;
  font-size: 13px;
  float: left;
  color: #646970;

  li {
    display: inline-block;
    margin: 0;
    padding: 0;
    white-space: nowrap;

    a {
      color: #646970;
      text-decoration: none;
      padding: 0 2px;
      cursor: pointer;

      &:hover {
        color: #135e96;
      }

      &.current {
        color: #1d2327;
        font-weight: 600;
      }

      .count {
        color: #646970;
        font-weight: 400;
      }
    }
  }
}

/* Table Navigation */
.tablenav {
  clear: both;
  height: 30px;
  margin: 6px 0 4px;
  padding-top: 10px;
  vertical-align: middle;

  &.top {
    margin-top: 20px;
  }

  .alignleft {
    float: left;
  }

  .actions {
    padding: 2px 8px 0 0;

    select {
      float: left;
      margin-right: 6px;
      max-width: 200px;
    }
  }

  .tablenav-pages {
    float: right;
    margin: 0;

    .displaying-num {
      color: #646970;
      font-size: 13px;
      font-style: italic;
      margin-right: 10px;
    }
  }

  .search-box {
    float: right;
    margin: 0 0 0 8px;

    .wp-search-input {
      padding: 3px 10px;
      font-size: 13px;
      line-height: 2.15384615;
      border: 1px solid #8c8f94;
      border-radius: 3px;
      width: 280px;

      &:focus {
        border-color: #2271b1;
        outline: none;
        box-shadow: 0 0 0 1px #2271b1;
      }
    }
  }
}

.wp-select {
  padding: 2px 24px 2px 8px;
  font-size: 13px;
  line-height: 2;
  border: 1px solid #8c8f94;
  border-radius: 3px;
  background: #fff;
  color: #2c3338;
  cursor: pointer;

  &:focus {
    border-color: #2271b1;
    outline: none;
    box-shadow: 0 0 0 1px #2271b1;
  }
}

/* WordPress Table Styles */
.wp-list-table {
  width: 100%;
  background: #fff;
  border: 1px solid #c3c4c7;
  border-spacing: 0;
  clear: both;
  margin: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);

  thead tr {
    background: #fff;
  }

  th,
  td {
    padding: 8px 10px;
    line-height: 1.5em;
    vertical-align: top;
    word-wrap: break-word;
  }

  th {
    font-weight: 600;
    text-align: left;
    border-bottom: 1px solid #c3c4c7;
  }

  td {
    border-bottom: 1px solid #dcdcde;
  }

  &.striped > tbody > tr:nth-child(odd) {
    background-color: #f6f7f7;
  }

  .check-column {
    width: 2.2em;
    padding: 6px 0 25px;
    vertical-align: top;

    input[type="checkbox"] {
      margin: 0 0 0 8px;
    }
  }

  .column-title {
    width: 40%;

    strong {
      display: block;
      margin-bottom: 0.2em;
      font-size: 14px;

      a {
        color: #2271b1;
        text-decoration: none;
        cursor: pointer;

        &:hover {
          color: #135e96;
        }
      }
    }

    .post-state {
      color: #646970;
      font-weight: 400;
    }

    .row-actions {
      color: #646970;
      font-size: 13px;
      line-height: 1.84615385;
      padding: 0;
      visibility: hidden;

      span {
        display: inline;

        a {
          color: #2271b1;
          text-decoration: none;
          cursor: pointer;

          &:hover {
            color: #135e96;
          }

          &.submitdelete {
            color: #b32d2e;

            &:hover {
              color: #b32d2e;
            }
          }
        }
      }
    }
  }

  tr:hover .row-actions {
    visibility: visible;
  }

  .column-author,
  .column-categories,
  .column-tags {
    width: 15%;
  }

  .column-date {
    width: 10%;
  }

  .status-draft {
    background-color: #fcf9e8;
  }

  .no-items {
    padding: 20px;
    text-align: center;
    color: #646970;
    font-style: italic;
  }

  .loading-row {
    padding: 40px;
    text-align: center;

    .loading-spinner {
      color: #646970;
      font-size: 14px;
    }
  }
}

.button {
  display: inline-block;
  text-decoration: none;
  font-size: 13px;
  line-height: 2.15384615;
  min-height: 30px;
  margin: 0;
  padding: 0 10px;
  cursor: pointer;
  border: 1px solid #8c8f94;
  border-radius: 3px;
  background: #f6f7f7;
  color: #2c3338;
  text-align: center;
  white-space: nowrap;

  &:hover {
    background: #f0f0f1;
    border-color: #8c8f94;
    color: #2c3338;
  }

  &.action {
    margin-left: 4px;
  }
}